.section.footer
  .light-links
    \© 2015 Carburetor
    = link_to "product", "/product.html"
    = link_to "pricing", "/pricing.html"
    = link_to "the team", "/team.html"
    = link_to "careers", "/careers.html"
    = link_to "legal", "/legal.html"
    = link_to "learn", "http://learn.predictablerevenue.com"
  .mixpanel-badge
    %a{:href => "https://mixpanel.com/f/partner"}
      %img{:alt => "Mobile Analytics", :src => "//cdn.mxpnl.com/site_media/images/partner/badge_light.png"}/
