.header
  .left-links
    = link_to "carb.io", "/"
  .right-links
    = link_to "product", "/product.html"
    = link_to "pricing", "/pricing.html"
    = link_to "the team", "/team.html"
    = link_to "careers", "/careers.html"
    = link_to "blog", "http://blog.carb.io"
    = link_to "learn", "http://learn.predictablerevenue.com"
