---
title: Automated Outbound Sales - Carburetor
---

.hero
  %h1
    Predictable Revenue. Made Easy.
  %p
    The only Pipeline Automation System built for Predictable Revenue
  .play
    = image_tag 'play.png'
    %div
      watch video
  %button.btn.start-form{"data-interestee-target" => "services"} Get Started Now
.section.dark.quote-section
  .quote
    %h2
      "I wish I had this at Salesforce.com"
      .by
        \- Aaron Ross
.section.pipe
  %h1 Pipeline Automation Software
  %p.sub More powerful &  better visibility because our tools are integrated
  .integrated
    .row
      .item
        %div
          = image_tag 'icons/mail.png'
          %span
            Outbound + Inbound Email
        %p
          Managing outbound emails and responses in one place gives you visibility into the entire email pipeline and enables powerful response automation.
      .item
        %div
          = image_tag 'icons/update.png'
          %span
            Update Salesforce Status
        %p
          As you respond to your emails we'll automatically update the Accounts, Contacts, & Prospecting Statuses (we sync the email threads too).
    .row
      .item
        %div
          = image_tag 'icons/dashboard.png'
          %span
            Cold Calling 2.0 Dashboards
        %p
          Get the Cold Calling 2.0 dashboards Aaron Ross recommends to manage the Positive/Neutral/Negative response rates.
      .item
        %div
          = image_tag 'icons/tie.png'
          %span
            White Glove Service
        %p
          Our data team will help you build super-targeted lists, write targeted referral emails, and coach your internal team on best practices.
  .quote
    %h2
      "Our SDRs doubled their response rates over night after advice we received on the very first call with Carburetor"
      .by
        \- Chris Marin, Head of Growth & Marketing at JobHive
.section.meaning
  %h1
    What will All-In-One mean to you?
  .meaning-points
    .item
      %h3 less hassle
      %p
        Why have 7 different tools to manage an outbound campaign?  With Carburetor, everything you need to manage your campaign is in one place.
    .item
      %h3 Better Visibility
      %p
        Because everything is integrated, you have visibility into the entire pipeline from the initial email all the way to a closed deal.
    .item
      %h3 BETTER SUPPORT
      %p
        With Carburetor every customer has access to our team of account strategists that have been personally trained by Aaron Ross.
  .static-convert
    %a.btn{:href => "./pricing/"} view pricing
.section.customers
  %h3
    you will be in good company
  .logos
    = image_tag 'company-logos/checkmate.png'
    = image_tag 'company-logos/workzone.png'
    = image_tag 'company-logos/world-energy.png'
    = image_tag 'company-logos/xenon.png'
  .bottom-convert
    %button.btn.start-form{"data-interestee-target" => "services"} get started now
