---
title: Automated Outbound Sales - Carburetor
---

.sub-hero.product-hero
  %h1
    We've worked with Aaron Ross to help you unlock the secrets behind Salesforce's outbound playbook.
  .product-video-wrap
    %a{:class => "wistia-popover[height=360,playerColor=e74c3c,width=640]", :href => "//fast.wistia.net/embed/iframe/snbwsaz9kn?popover=true"}
      = image_tag 'product-play.jpg'
    %script{:charset => "ISO-8859-1", :src => "//fast.wistia.com/assets/external/popover-v1.js"}
.screenshot-section
  .screenshot
    .middle
      = image_tag 'screenshots/frame1.png'
  .content
    .middle
      %h1 Nobody updates Salesforce!
      %p
        Carburetor is woven directly into salesforce so that all your team needs to do is answer their emails and we'll update salesforce for them.  You'll get the Cold Calling 2.0 dashboards that Aaron designed and they'll always be up to date.
.screenshot-section
  .content
    .middle
      %h1 Better insight on responses (positive/negative/neutral)
      %p
        Generic response rates don't tell you the entire story.  Our system strips out the noise and breaks down the response rates by sentiment so that you can understand how people feel about your messaging.
  .screenshot
    .middle
      = image_tag 'screenshots/frame2.png'
.screenshot-section
  .screenshot
    .middle
      = image_tag 'screenshots/frame5.png'
  .content
    .middle
      %h1 Manually building lists takes up 50% of your reps day
      %p
        We'll help you build your ideal customer profile & source the contact
        data for you.  Enrich your target profiles with technology usage data
        for super-targeted lists & never pay for bounces again.
.screenshot-section
  .content
    .middle
      %h1 Getting low responses from your Marketing/Salesforce Automation emails?
      %p
        Our emails are sent from your rep's Gmail account so the conversations look like natural 1-to-1 emails.
  .screenshot
    .middle
      = image_tag 'screenshots/frame4.png'
.converter.static-convert
  = link_to "view pricing", "/pricing.html", class: "btn"
