---
title: Automated Outbound Sales - Carburetor
---

.static-hero
  %div
    %h2
      Meet the Team
    %p
      Get to know the people who bring you results.
.content
  .ltm-container
    .large-team-member
      .avatar.aaron
      .details
        %h2 Aaron Ross
        %h4 CRO
        %a.social{:href => "https://www.linkedin.com/in/aaronross", :target => "_blank"}
          = image_tag 'icons/linkedin.png'
        %p
          Aaron Ross, of the award-winning, bestselling book Predictable Revenue,
          has been teaching companies how to double or triple (or more) new sales
          since he helped Salesforce grow from $5m to $100m. Now he's turned his
          attention to Carburetor to help build the platform that will power the
          next wave of Cold Calling 2.0 teams.
  .ltm-container
    .large-team-member
      .avatar.preston
      .details
        %h2 Preston St. Pierre
        %h4 CTO
        %a.social{:href => "https://www.linkedin.com/pub/preston-st-pierre/42/121/aa9", :target => "_blank"}
          = image_tag 'icons/linkedin.png'
        %p
          Preston has been training to be CTO his entire life. In elementary
          school he learned QBasic and HTML. By high school he was configuring and
          compiling web servers from the source. Today he uses his dark magic to
          power the Carburetor Predictable Revenue services.
  .ltm-container
    .large-team-member
      .avatar.collin
      .details
        %h2 Collin Stewart
        %h4 CEO
        %a.social{:href => "https://www.linkedin.com/in/collinstewart", :target => "_blank"}
          = image_tag 'icons/linkedin.png'
        %p
          Carburetor is Collin's second start-up together with Preston St. Pierre.
          Their first, VoltageCRM was met by the market with a lack of enthusiasm
          and went into maintenance mode after 18 months. This time around he's
          armed with the knowledge of what went wrong the first time and 10 years
          experience in various sales & entrepreneurial roles.
.small-team-members
  .stm-container
    .small-team-member
      = image_tag 'people/vincent.jpg'
      .details
        %h3 Vincent Chu
        %p Design/Engineering
  .stm-container
    .small-team-member
      = image_tag 'people/jerry.jpg'
      .details
        %h3 Jerry Situ
        %p Account Strategist
  .stm-container
    .small-team-member
      = image_tag 'people/alec.jpg'
      .details
        %h3 Alec Morgana
        %p Account Strategist
  .stm-container
    .small-team-member
      = image_tag 'people/patrick.jpg'
      .details
        %h3 Patrick De Young
        %p Account Strategist
  .stm-container
    .small-team-member
      = image_tag 'people/robert.jpg'
      .details
        %h3 Robert Russell
        %p Account Strategist
  .stm-container
    .small-team-member
      = image_tag 'people/duncan.jpg'
      .details
        %h3 Duncan Strong
        %p Product Manager
  .stm-container
    .small-team-member
      = image_tag 'people/kay.jpg'
      .details
        %h3 Kay Meester
        %p Account Executive
  .stm-container
    .small-team-member
      = image_tag 'people/francesco.jpg'
      .details
        %h3 Francesco Belladonna
        %p Engineer
  .stm-container
    .small-team-member
      = image_tag 'people/ernesto.jpg'
      .details
        %h3 Ernesto Tagwerker
        %p Engineer
  .stm-container
    .small-team-member
      = image_tag 'people/mauro.jpg'
      .details
        %h3 Mauro Otonelli
        %p Engineer
  .stm-container
    .small-team-member
      = image_tag 'people/shaun.jpg'
      .details
        %h3 Shaun Styles
        %p Lead Coach
  .stm-container
    .small-team-member
      = image_tag 'people/joel.jpg'
      .details
        %h3 Joel Greensite
        %p Advisor, Engineering
  .stm-container
    .small-team-member
      = image_tag 'people/kathy.jpg'
      .details
        %h3 Kathy Watt
        %p Advisor, Finance
  .stm-container
    .small-team-member
      = image_tag 'people/anca.jpg'
      .details
        %h3 Anca Borza
        %p Administration
